vendor/data/camera/model/megii_dualcam/capture_model filter=lfs diff=lfs merge=lfs -text
vendor/lib64/libstfaceunlockppl.so filter=lfs diff=lfs merge=lfs -text
system_ext filter=lfs diff=lfs merge=lfs -text
system_ext/apex/com.android.vndk.v30.apex filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/TranSettingsApk/TranSettingsApk.apk filter=lfs diff=lfs merge=lfs -text
system_ext/app/TranssionCamera/TranssionCamera.apk filter=lfs diff=lfs merge=lfs -text
system_ext/priv-app/TranAodApk/TranAodApk.apk filter=lfs diff=lfs merge=lfs -text
